
FileZilla-download/js/camera.js

FileZilla-download/index.php

FileZilla-download/js/sharethis.js

FileZilla-download/logout.php

FileZilla-download/gallery.php

FileZilla-download/imageSave.php

FileZilla-download/email.php

FileZilla-download/database.php

FileZilla-download/checklogin.php

FileZilla-download/css/main.css

FileZilla-download/js/modal.js

FileZilla-download/registermodal.php

.user.ini

localdatabase/database.php

localdatabase/infs3202photobooth_lb.sql

PDO/checklogin_2.php

working code/checklogin.php

working code/database.php

PDO/database_2.php

PDO/checklogin_2.php

PDO/checklogin_2.php
