@media screen{

    body {
      background-color: black;
      font-family: 'Arial Narrow', Arial, sans-serif;
    }

    /* Stlying for Header and Footer */
    nav ul, footer ul {
      display:flex;
      justify-content: center;
      align-items: center;
      margin:0px;
      padding:0px;
      color: white;
      list-style-type: none;
    }

    nav ul li {
      padding: 10px 50px 0px 50px;
      font-size: 24px;
    }

    ul li a {
      color: white;
      text-decoration: none;
    }

    /* Stlying the Hero Image container */
    .hero {
      position: relative;
    }

    /* Stlying the Call to Action Hero Image */
    .callToAction {
      height: 100%;
      width: 99%;
      padding-left: 15px;
    }

    /* Stlying Call to Action button */
    .callToActionButton {
      /* appearance */
      background-color: #c91c1c;
      border-radius: 1px;
      padding: 10px;
      width:200px;
      color: white;
      font-size: 26px;
      text-decoration: none;
      /* position */
      position: absolute;
      left: 43%; /* 50% - (width/2) */
      top: 40%;
      width: 14%;
      /* display of children */
      display: flex;
      justify-content: space-around;
      align-items: center;

    }

    footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        margin-bottom: 10px;
        padding-top: 10px;
        background-color: rgba(0,0,0,0.7);
    }

    /* Stlying for Footer */
    footer p {
      float: right;
      color: grey;
      margin: -25px 20px;
    }

    footer ul li {
      padding: 0px 10px;
    }

    .socialImage {
      height: 50px;
    }


    /* About Modal Styling */
    #aboutModal {
      background-color:white;
      display: none;
      position: fixed;
      z-index: 1;
      width: 500px;
      height: 200px;
      left: 730px;
      top: 125px;
      border-radius: 10px;
    }

    .close {
      position: fixed;
      left: 1200px;
      top: 125px;
      color: red;
      cursor: pointer;
    }


    /* Camera Styling */
    .camera, .output {
      display: none;
      position: relative;
      left: 450px;
      top: -813px;
      margin: 0px;
      border: 0px;
      padding: 0px;
    }


}

@media only screen and (max-width:1280px){

    .callToActionButton {
        /* 50% - (width/2) */
        left: 41%;
        width: 18%;
    }

}

@media only screen and (max-width:995px){

    .callToActionButton {
        /* 50% - (width/2) */
        left: 39%;
        width: 22%;
    }

}

@media only screen and (max-width:830px){

    .callToActionButton {
        /* 50% - (width/2) */
        left: 37%;
        width: 26%;
    }

}

@media only screen and (max-width:700px){

    .callToActionButton {
        font-size: 22px;
    }

}

@media only screen and (max-width:600px){

    .callToActionButton {
        /* 50% - (width/2) */
        left: 35%;
        width: 30%;
    }

}

@media only screen and (max-width:515px){

    .callToActionButton {
        /* 50% - (width/2) */
        left: 32%;
        width: 36%;
    }

}

@media only screen and (max-width:475px){

    .callToActionButton {
        /* 50% - (width/2) */
        left: 20%;
        width: 60%;
        font-size: 33px;
    }

}

/* social icons from perfecticons.com */

@font-face {
    font-family: 'si';
    src: url('../fonts/socicon.eot');
    src: url('../fonts/socicon.eot?#iefix') format('embedded-opentype'),
         url('../fonts/socicon.woff') format('woff'),
         url('../fonts/socicon.ttf') format('truetype'),
         url('../fonts/socicon.svg#icomoonregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family:si;
        src: url(PATH_TO/socicon.svg) format(svg);
    }
}

.soc {
    overflow:hidden;
    margin:0; padding:0;
    list-style:none;
}

.soc li {
    display:inline-block;
    *display:inline;
    zoom:1;
}

.soc li a {
    font-family:si!important;
    font-style:normal;
    font-weight:400;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;

    -o-transition:.1s;
    -ms-transition:.1s;
    -moz-transition:.1s;
    -webkit-transition:.1s;
    transition:.1s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);

    overflow:hidden;
    text-decoration:none;
    text-align:center;
    display:block;
    position: relative;
    z-index: 1;
    width: 80px;
    height: 80px;
    line-height: 80px;
    font-size: 44px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    margin-right: 10px;
    color: #212121;
    background-color: #fff;
}

.soc a:hover {
    z-index: 2;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.soc-icon-last{
    margin:0 !important;
}

.soc-facebook:before {
    content:'b';
}
.soc-twitter:before {
    content:'a';
}
.soc-instagram:before {
    content:'x';
}


/* Tacced on at the end to make responsive later */
.galleryContainer {
  width: 30%;
}

.galleryImg {
  width: 100%;
}
